<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/iconFont.min.css" rel="stylesheet" />
</head>
<body class="metro" style="padding-top:0;">
    
    <nav class="horizontal-menu" style="border-bottom:1px solid lightgray;padding:15px 15px;margin-top:0;">
        <ul class="container">
            @if(User.Identity.IsAuthenticated)
            {
                <li class="menuBtn"><button>Мени</button></li>
            }
            @if(User.IsInRole("Admin"))
            {
                 <li>
                    <a class="dropdown-toggle" href="#">Менаџирање</a>
                     <ul class="dropdown-menu" data-role="dropdown" data-show="hover">
                         <li></li>
                         <li>@Html.ActionLink("Снипети", "Snippets", "Admin")</li>
                         <li>@Html.ActionLink("Групи", "Groups", "Admin")</li>
                         <li>@Html.ActionLink("Корисници", "Users", "Admin", new { id = 1 }, null)</li>
                         <li>@Html.ActionLink("Натпревари", "Events", "Admin")</li>
                     </ul>
                </li>
                <li>@Html.ActionLink("Старт", "Start", "Code")</li>
            }
            else
            {
                <li><a href="#">finkiSnippets</a></li>
            }

            @if(User.Identity.IsAuthenticated)
            {

                <li class="place-right">@Html.ActionLink("Logout", "logOut", "User")</li>
                <li class="place-right"><a href="#">Hi, @User.Identity.Name</a></li>
            }
            else
            {
                <li class="place-right"><a href="@Url.Action("Login","User")">Login</a></li>
            }

            <li style="clear:both;"></li>
        </ul>
    </nav>

    @if(User.Identity.IsAuthenticated)
    {
        <nav class="sidebar (light)">
                      <ul>
                <li class="title"><button class="place-right btnMenuClose">Затвори</button><span class="clearfix"></span></li>
                <li class="title">@User.Identity.Name</li>
                @if(User.IsInRole("Admin"))
                {

                    <li class=''><a href="@Url.Action("Users", "Admin", new { id = 1 })"><i class="icon-user"></i>Корисници</a></li>
                    <li class=''><a href="@Url.Action("CreateSnippet", "Admin")"><i class="icon-code"></i>Додади Код</a></li>
                    <li class=''><a href="@Url.Action("Events", "Admin")"><i class="icon-grid"></i>Натпревари</a></li>
                    <li class=''><a href="@Url.Action("Start", "Code")"><i class="icon-play"></i>Старт</a></li>
                }
                @if(User.Identity.IsAuthenticated)
                {
                    <li class="">@Html.ActionLink("Logout", "logOut", "User")</li>
                }
                else
                {
                    <li class=""><a href="@Url.Action("Login","User")">Login</a></li>
                }
            </ul>
        </nav>
    }

    <div class="container body-content" style="margin-top:5%;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ФИНКИ</p>
        </footer>
    </div>
    <div id="loaderContainer">
        <div id="loader">Loading...</div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/metro.min.js"></script>
    <script src="~/Scripts/Select2/js/select2.min.js"></script>
    <script src="~/Scripts/Our Scripts/GlobalVariables.js"></script>
    @RenderSection("scripts", required: false)
    <script>

        $(function () {

            $(".menuBtn").click(function (event) {
                event.preventDefault();


                $(".sidebar").animate({
                    left: 0
                }, 300);
            })

            $(".btnMenuClose").click(function (event) {
                event.preventDefault();
                $(".sidebar").animate({
                    left: "-100%"
                }, 300);
            })
                        
        })

    </script>
</body>
</html>
