@model Entity.Event

@{
    ViewBag.Title = "Lobby";
}

<h2>@Model.Name</h2>

<hr />

<div class="description">@Html.Raw(Model.Description)</div>

@if (Model.Start > Utilities.DateHelper.GetCurrentTime())
{
    <div class="countdown" data-role="countdown" data-stoptimer="@Model.Start"></div>
}
else
{
    <br />
    <a href="@Url.Action("Game", "Code", new { id = Model.ID })" class="button default large">Започни</a>
}

@section Scripts{
    <script src="~/Scripts/metro-countdown.js"></script>
    <script></script>
    <script>
        $(function () {
           
            var msg = '@ViewBag.msg';

            if (msg) {
                $.Notify({
                    caption: "Статус",
                    content: msg,
                    timeout: 10000,
                    style: { background: "red", color: "#fff" }
                });
            }
        });
    </script>
}