@model App.ViewModels.StartViewModel

@{
    ViewBag.Title = "Start";
}


<h2>Активни Натпревари</h2>

<div id="active">
    <table class="table bordered">
        <thead>
            <tr>
                <th class="text-left">Име</th>
                <th class="text-left">Датум</th>
                <th class="text-left">Почеток</th>
                <th class="text-left">Крај</th>
                <th class="text-left"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ActiveEvents != null && Model.ActiveEvents.Any())
            {
                foreach (var ev in Model.ActiveEvents)
                {
                    <tr class="">
                        <td>@ev.Name</td>
                        <td>@String.Format("{0} / {1} / {2}", ev.Start.Day, ev.Start.Month, ev.Start.Year)</td>
                        <td>@ev.Start.TimeOfDay</td>
                        <td>@ev.End.TimeOfDay</td>
                        <td style="width:40px;"><a href="@Url.Action("Lobby", "Code", new { id=ev.ID })" class="button default small">Лоби</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<h2>Следни Натпревари</h2>

<div id="next">

    <table class="table bordered">
        <thead>
            <tr>
                <th class="text-left">Име</th>
                <th class="text-left">Датум</th>
                <th class="text-left">Почеток</th>
                <th class="text-left">Крај</th>
                <th class="text-left"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.NextEvents != null && Model.NextEvents.Any())
            {
                foreach (var ev in Model.NextEvents)
                {
                    <tr class="selected">
                        <td>@ev.Name</td>
                        <td>@String.Format("{0} / {1} / {2}", ev.Start.Day, ev.Start.Month, ev.Start.Year)</td>
                        <td>@ev.Start.TimeOfDay</td>
                        <td>@ev.End.TimeOfDay</td>
                        <td style="width:40px;"><a href="@Url.Action("Lobby", "Code", new { id=ev.ID })" class="button default small">Лоби</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>