@model App.ViewModels.EditSnippetViewModel

@{
    ViewBag.Title = "EditSnippet";
    var operatorList = Model.Snippet.Operations.Select(x => new { x.OperationID, x.Frequency }).ToList();
    var groupsList = Model.Snippet.Groups.Select(x => new { x.ID, x.Name });
}

<h2>EditSnippet</h2>

<div class="grid">
    <div class="row">
        <div class="span8">
            <h2>Кодот овде:</h2>
            <div id="editor"></div>

            <br>
        </div>

        <div class="span6">
            <h2>Операции во овој код:</h2>
            <div class="row">
                <div class="span3 input-control select">
                    <select id="operatorSelect">
                        @foreach (var item in Model.Operations)
                        {
                            <option value="@item.ID">@item.Name  ( @item.Operator )</option>
                        }
                    </select>
                </div>
                <div class="input-control number span2" style="padding-left:15px">
                    <input type="number" value="1" id="operatorFrequency" />
                </div>
                <div class="span1">
                    <button class="large" id="btnAddOperator">Додади</button>
                </div>
            </div>
            <table id="operatorTable" class="table hovered">
                <thead>
                    <tr>
                        <th class="text-left">Оператор</th>
                        <th class="text-left">Честота</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oper in Model.Snippet.Operations)
                    {
                        var fullOper = @Model.Operations.FirstOrDefault(x => x.ID == oper.OperationID);
                        <tr>
                            <td>@fullOper.Name (@fullOper.Operator)</td>
                            <td>@oper.Frequency</td>
                            <td style='width:60px;'><a href='javascript:void(0)' data-operid='@oper.OperationID' class='text-alert deleteBtn' hidden>Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>

            <h2>Постоечки групи:</h2>
            <div class="row">
                <div class="span3 input-control select">
                    <select id="groupSelect">
                        @foreach (var item in Model.Groups)
                        {
                            <option value="@item.ID"> @item.Name </option>
                        }
                    </select>
                </div>
                <div class="span1">
                    <button class="large" id="btnAddGroup">Додади</button>
                </div>
            </div>
            <table id="groupTable" class="table hovered">
                <thead>
                    <tr>
                        <th class="text-left">Групи</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.Snippet.Groups)
                    {
                        <tr>
                            <td>@group.Name</td>
                            <td style='width:60px;'><a href='javascript:void(0)' data-groupid='@group.ID' class='text-alert deleteBtn' hidden>Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="row">
                <label>Прашање:</label>
                <div class="input-control text">
                    <input type="text" id="Question" value="@Model.Snippet.Question"/>
                </div>
                <label>Излез:</label>
                <div class="input-control text">
                    <input type="text" id="outputData" value="@Model.Snippet.Output"/>
                </div>

                <div>
                    <button id="btnAdd" class="success large" style="width:150px;height:50px;margin-top:11px">Зачувај код</button>
                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts{
    <script src="~/Scripts/src-noconflict/ace.js"></script>

    <script>
        $(document).ready(function () {

            var addedOperators = @Html.Raw(Json.Encode(operatorList));
            var addedGroups = @Html.Raw(Json.Encode(groupsList));

            console.log(addedOperators);
            console.log(addedGroups);

            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/eclipse");
            editor.getSession().setMode("ace/mode/java");
            editor.setOptions({
                readOnly: false,
                highlightActiveLine: false,
                highlightGutterLine: false
            });
            //editor.renderer.$cursorLayer.element.style.opacity = 0;

            var heightUpdateFunction = function () {

                // http://stackoverflow.com/questions/11584061/
                var newHeight =
                            editor.getSession().getScreenLength()
                            * editor.renderer.lineHeight
                            + editor.renderer.scrollBar.getWidth() + 20;

                $('#editor').height(newHeight.toString() + "px");
                $('#editor-section').height(newHeight.toString() + "px");

                // This call is required for the editor to fix all of
                // its inner structure for adapting to a change in size
                editor.resize();
            };

            // Set initial size to match initial content
            heightUpdateFunction();

            // Whenever a change happens inside the ACE editor, update
            // the size again
            editor.getSession().on('change', heightUpdateFunction);

            editor.getSession().setValue(decodeURIComponent("@Model.Snippet.Code"));

            $("#btnAdd").click(function (event) {
                var code = editor.getSession().getValue();
                var outputData = $("#outputData").val();
                var ques = $("#Question").val();

                var dataModel = {
                    snippet: {
                        ID: '@Model.Snippet.ID',
                        Code: encodeURIComponent(code),
                        Output: outputData,
                        Question: ques
                    },
                    Operators: addedOperators,
                    SnippetGroups: addedGroups
                }

                console.log(dataModel);

                $.ajax({
                    url: '@Url.Action("CreateSnippet","Admin")',
                    type: "POST",
                    traditional: true,
                    dataType: "json",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        ID: @Model.Snippet.ID,
                        Code: encodeURIComponent(code),
                        Output: outputData,
                        Question: ques,
                        Operators: addedOperators,
                        SnippetGroups: addedGroups
                    })
                }).done(function (data) {
                    var color;

                    if (data == "error")
                        color = "#9a1616";
                    else
                        color = "#60a917";

                    var not = $.Notify({
                        caption: "Статус",
                        content: data,
                        timeout: 3000,
                        style: { background: color, color: "#fff" }
                    });

                    if (data != "error") {
                        setTimeout(function () {
                            window.location.replace('@Url.Action("Snippets", "Admin")');
                        },
                        3000);
                    }
                });
            })

            $("#btnAddOperator").click(function () {
                var oper = $("#operatorSelect").find(":selected").text();
                var operId = $("#operatorSelect").val();
                var freq = $("#operatorFrequency").val();

                var t = addedOperators.filter(function (el) {
                    return el.OperationID == operId;
                });

                if (t.length > 0)
                    return;

                var result = "<tr><td>" + oper + "</td><td>" + freq + "</td><td style='width:60px;'><a href='#' data-operid='" + operId + "' class='text-alert deleteBtn' hidden>Delete</a></td></tr>";
                $("#operatorTable > tbody").append(result);


                var operator = {
                    OperationID: operId,
                    Frequency: freq
                }

                addedOperators.push(operator);
                console.log(addedOperators);
            });

            $("#btnAddGroup").click(function(){
                var group = $("#groupSelect").find(":selected").text();
                var groupID = $("#groupSelect").val();

                var t = addedGroups.filter(function (el) {
                    return el.ID == groupID;
                });

                if (t.length > 0)
                    return;
         
                var result = "<tr><td>" + group + "</td><td style='width:60px;'><a href='#' data-groupid='" + groupID + "' class='text-alert deleteBtn' hidden>Delete</a></td></tr>";;
                $("#groupTable > tbody").append(result);

                var group = {
                    ID: groupID,
                    Name: group
                }

                addedGroups.push(group);
                console.log(addedGroups);
            });

            $(".table").on("mouseenter", "tr", function () {

                $(this).find(".deleteBtn").show();
            });

            $(".table").on("mouseleave", "tr", function () {

                $(this).find(".deleteBtn").hide();
            });

            $("#operatorTable").on("click", ".deleteBtn", function () {

                console.log("delete operator started");
                
                var tmpOperId = $(this).attr("data-operid");
                console.log("id to be deleted: " + tmpOperId);
                
                addedOperators = addedOperators.filter(function (el) {
                    return el.OperationID != tmpOperId;
                });

                console.log("New operator list: ");
                console.log(addedOperators);

                $(this).parent().parent().remove();
            });

            $("#groupTable").on("click", ".deleteBtn", function () {

                console.log("Delete group started");

                var tmpGroupID = $(this).attr("data-groupid");
                console.log("id to be deleted: " + tmpGroupID);

                addedGroups = addedGroups.filter(function (el) {
                    return el.ID != tmpGroupID;
                });

                console.log("New group list: ");
                console.log(addedGroups);
                $(this).parent().parent().remove();
            });
        });
    </script>
}




