@model App.ViewModels.EditEventViewModel

@{
    ViewBag.Title = "CreateEvent";
    string tempDate = String.Format("{0}.{1}.{2}", Model.Event.Start.Day, Model.Event.Start.Month, Model.Event.Start.Year);
    Model.AllSnippets = Model.AllSnippets.Where(x => !Model.Event.Snippets.Select(y => y.ID).Contains(x.ID)).ToList();
    var addedSnippets = Model.Event.Snippets.Select(x => x.ID).ToList();
}

<h2>
    Нов натпревар
</h2>
<hr />
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="grid">
            <div class="row">
                <div class="span3">
                    <label>Датум на натпреварот</label>
                    <div class="input-control text" data-role="datepicker" data-weekstart="1">
                        <input type="text" name="date" value="@tempDate"id="datepicker">
                        <button class="btn-date"></button>
                    </div>
                </div>

                <div class="span5">
                    <label>&nbsp;</label>
                    <span>од</span>
                    <div class="input-control text size1">
                        <input type="text" name="hourStart" value="@Model.Event.Start.TimeOfDay.Hours" id="hourStart" />
                    </div>
                    <span>:</span>
                    <div class="input-control text size1">
                        <input type="text" name="minStart" value="@Model.Event.Start.TimeOfDay.Minutes" id="minStart" />
                    </div>
                    <span>до</span>
                    <div class="input-control text size1">
                        <input type="text" name="hourEnd" value="@Model.Event.End.TimeOfDay.Hours" id="hourEnd" />
                    </div>
                    <span>:</span>
                    <div class="input-control text size1">
                        <input type="text" name="minEnd" value="@Model.Event.End.TimeOfDay.Minutes" id="minEnd" />
                    </div>
                </div>

                <div class="form-group span4">
                    <label>&nbsp;</label>
                    <input type="submit" value="Измени Натпревар" class="btn success" style="height:34px;" /> <span id="error-message"></span>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="span6" style="text-align:center">Сите снипети</div>
                <div class="span6" style="text-align:center">Снипети во евент</div>
            </div>

            <div class="row">
                @{Html.RenderPartial("_ListSnippets", new App.ViewModels.ListSnippetsPartialViewModel { Snippets = Model.AllSnippets, DivName = "snippets", SpanSizeSnippets = "span6", SpanSizeArea = "span6" });}

                @{Html.RenderPartial("_ListSnippets", new App.ViewModels.ListSnippetsPartialViewModel { Snippets = Model.Event.Snippets.ToList(), DivName ="addedSnippets", StartCounter = Model.AllSnippets.Count, SpanSizeSnippets = "span6", SpanSizeArea = "span6" });}
            </div>
        </div>
    </fieldset>
}

@section Scripts{
    <script src="~/Scripts/metro-calendar.js"></script>
    <script src="~/Scripts/metro-datepicker.js"></script>
    <script src="~/Scripts/src-noconflict/ace.js"></script>
    <script src="~/Scripts/Our Scripts/EditorInitializer.js"></script>
    <script>
        $(function () {

            var addedSnippets = @Html.Raw(Json.Encode(addedSnippets));

            console.log(addedSnippets);

            $(".snippets").on("click", ".list", function () {

                var id = $(this).attr("id");

                var t = addedSnippets.filter(function (el) {
                    return el == id;
                });

                if (t.length > 0)
                    return;

                addedSnippets.push(id);
                console.log(addedSnippets);

                $(".addedSnippets").append('<div class="row eventSnippet">' + $(this).parent().parent().html() + '</div>');
                $(this).parent().parent().remove();
            });

            $(".addedSnippets").on("click", ".list", function () {

                var id = $(this).attr("id");

                console.log(id);

                addedSnippets = addedSnippets.filter(function (el) {
                    return el != id;
                });

                console.log(addedSnippets);

                $(".snippets").append('<div class="row eventSnippet">' + $(this).parent().parent().html() + '</div>');
                $(this).parent().parent().remove();
            });

            $("#hourStart,#hourEnd").focusin(function () {
                $(this).attr("data-state", "");
            });

            $("#hourStart, #hourEnd").focusout(function () {
                var h = $(this).val();
                if (h < 0 || h > 23 || h == "") {
                    $(this).attr("data-state", "error");
                }
            });

            $("#minStart, #minEnd").focusin(function () {
                $(this).attr("data-state", "");
            });

            $("#minStart,#minEnd").focusout(function () {
                var h = $(this).val();
                if (h < 0 || h > 59 || h == "") {
                    $(this).attr("data-state", "error");
                }
            });

            $("#datepicker").focusin(function () {
                $(this).attr("data-state", "");
            })

            $("form").submit(function (event) {
                event.preventDefault();

                var dateTemp = $("#datepicker").val();
                var hs = $("#hourStart");
                var ms = $("#minStart");
                var he = $("#hourEnd");
                var me = $("#minEnd");
                var group = $("#groupSelect").val();

                var error = false;


                if (hs.val() < 0 || hs.val() > 23 || hs.val() == "") {
                    hs.attr("data-state", "error");
                    error = true;
                }

                if (ms.val() < 0 || ms.val() > 59 || ms.val() == "") {
                    ms.attr("data-state", "error");
                    error = true;
                }
                if (he.val() < 0 || he.val() > 23 || he.val() == "") {
                    he.attr("data-state", "error");
                    error = true;
                }

                if (me.val() < 0 || me.val() > 59 || me.val() == "") {
                    me.attr("data-state", "error");
                    error = true;
                }

                if ($("#datepicker").val() == "") {
                    error = true;
                    $("#datepicker").attr("data-state", "error");
                }

                if (error) {
                    return;
                }

                $.ajax({
                    url: '@Url.Action("EditEvent","Admin")',
                    type: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: '@Model.Event.ID',
                        date: dateTemp,
                        hourStart: hs.val(),
                        minStart: ms.val(),
                        hourEnd: he.val(),
                        minEnd: me.val(),
                        Snippets: addedSnippets
                    })
                }).done(function (data) {

                    var label = $("#error-message");

                    if (data == "error") {
                        label.addClass("text-alert").html("Во посакуваното време има активен натпревар!");
                    } else {
                        label.removeClass("text-alert").addClass("text-success").html("Натпреварот е додаден! За 3 секунди ќе бидете пренасочени...");
                        setTimeout(function () { window.location.replace('@Url.Action("Events","Admin")'); }, 3000);
                    }
                });

            });
        });
    </script>

}