@model List<FinkiSnippets.Service.Dto.EventDto>
@{
    ViewBag.Title = "Events";
    var NextEvents = Model.Where(x => x.Start > DateTime.Now.AddHours(1)).OrderBy(x=>x.Start);
    var ActiveEvents = Model.Where(x => x.Start < DateTime.Now.AddHours(1) && x.End > DateTime.Now.AddHours(1)).ToList();
    ActiveEvents.ForEach(x => Model.Remove(x));
}

@Html.ActionLink("Ново натпреварување", "CreateEvent", "Admin", new { @class = "button large" })

<h2>Активни Натпревари</h2>

<table class="table bordered">
    <thead>
        <tr>
            <th class="text-left">Име</th>
            <th class="text-left">Датум</th>
            <th class="text-left">Почеток</th>
            <th class="text-left">Крај</th>   
            <th class="text-left"></th>  
            <th class="text-left"></th>       
        </tr>
    </thead>
    <tbody>
        @if (ActiveEvents != null && ActiveEvents.Any())
        {
            foreach (var ev in ActiveEvents)
            {
                <tr class="success">
                    <td>@ev.Name</td>
                    <td>@String.Format("{0} / {1} / {2}", ev.Start.Day, ev.Start.Month, ev.Start.Year)</td>
                    <td>@ev.Start.TimeOfDay</td>
                    <td>@ev.End.TimeOfDay</td>
                    <td>@Html.ActionLink("Види резултати", "Results", "Admin", new { id = ev.ID }, new { @style = "color:black!important;" })</td>
                    <td style="width:40px;"><a href="@Url.Action("EditEvent", "Admin", new { id=ev.ID })" class="button danger small">Измени</a></td>
                </tr>
            }
        }
    </tbody>
</table>


<h2 style="margin-top:70px;">Следни Натпреварувања</h2>
<table class="table bordered">
    <thead>
        <tr>
            <th class="text-left">Име</th>
            <th class="text-left">Датум</th>
            <th class="text-left">Почеток</th>
            <th class="text-left">Крај</th>
            <th class="text-left"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var ev in NextEvents)
        {
            <tr class="selected">
                <td>@ev.Name</td>
                <td>@String.Format("{0} / {1} / {2}", ev.Start.Day, ev.Start.Month, ev.Start.Year)</td>
                <td>@ev.Start.TimeOfDay</td>
                <td>@ev.End.TimeOfDay</td>
                <td style="width:40px;"><a href="@Url.Action("EditEvent", "Admin", new { id=ev.ID })" class="button danger small">Измени</a></td>
            </tr>
        }
    </tbody>
</table>


<h2 style="margin-top:70px;">Поминати Натпреварувања</h2>
<table class="table bordered">
    <thead>
        <tr>
            <th class="text-left">Име</th>
            <th class="text-left">Датум</th>
            <th class="text-left">Почеток</th>
            <th class="text-left">Крај</th>
            <th class="text-left"></th>
            <th class="text-left">Export</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var ev in Model)
        {
            if(NextEvents.Contains(ev))
            {
                continue;
            }
            <tr>
                <td>@ev.Name</td>
                <td>@String.Format("{0} / {1} / {2}", ev.Start.Day, ev.Start.Month, ev.Start.Year)</td>
                <td>@ev.Start.TimeOfDay</td>
                <td>@ev.End.TimeOfDay</td>
                <td>@Html.ActionLink("Види резултати", "Results", "Admin", new { id = ev.ID }, null)</td>
                <td>@Html.ActionLink("Операции", "ExportOperations", "Admin", new { id = ev.ID }, null) | @Html.ActionLink("Резултати", "ExportResults", "Admin", new { id = ev.ID }, null)</td>
            </tr>
        }
    </tbody>
</table>


