@model List<Entity.Group>

@{
    ViewBag.Title = "Groups";
}

<div class="grid">
    <div class="row">
        <h2 class="span9">Groups</h2>
        <a class="button large" href="@Url.Action("CreateGroup", "Admin")">Додади нова група</a>
    </div>
</div>
<hr />

<div class="listview-outlook">
    @foreach (var group in Model)
    {
        <div class="grid">
            <div class="row">
                <div class="span8">
                    <a href="javascript:void(0)" class="list">
                        <div class="list-content">
                            <span class="list-title">@group.Name</span>           
                        </div>
                    </a>
                </div>
                <div class="span6">
                    <a class="button success" href="@Url.Action("Group", "Admin", new { id = group.ID })">Преглед на снипети</a>
                    <a class="button warning" href="@Url.Action("EditGroup", "Admin", new { id = group.ID })">Измени</a>
                    <a class="button danger" href="@Url.Action("DeleteGroup", "Admin", new { id = group.ID })" onclick="return confirm('Дали сте сигурни?')">Избриши</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/Scripts/metro-times.js"></script>
}