@model App.ViewModels.FilterSnippetsViewModel

@{
    ViewBag.Title = "Snippets";

}

<div class="grid">
    <div class="row">

        <h2 class="span9">Снипети</h2>
        <a class="button large" href="@Url.Action("CreateSnippet","Admin")">Додади нов снипет</a>
    </div>

    @using (Ajax.BeginForm("FilterSnippets", new AjaxOptions { HttpMethod = "GET", LoadingElementId = "loader", }))
    {
        <div class="row">
            <div class="span9">
                <div class="example">
                    <form>
                        <fieldset>
                            <legend>Филтер</legend>
                            <label>Групи</label>

                            <div class="input-control select">
                                <select id="groupSelect" name="SelectedGroups" multiple style="width:100%;">
                                    @foreach (var item in Model.Groups)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                            </div>

                            <label>Операции</label>

                            <div class="input-control select">
                                <select id="operationSelect" name="SelectedOperations" multiple style="width:100%;">
                                    @foreach (var item in Model.Operations)
                                    {
                                        <option value="@item.ID">@item.Name (@item.Operator)</option>
                                    }
                                </select>
                            </div>

                            <input type="submit" value="Филтрирај">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

<hr />

@{Html.RenderPartial("_ListSnippets", Model.Snippets);}

@section Scripts{
    <script src="~/Scripts/src-noconflict/ace.js"></script>
    <script src="~/Scripts/metro-times.js"></script>
    <script src="~/Scripts/Our Scripts/EditorInitializer.js"></script>
    <script>
        $(function () {

            $("#groupSelect").select2({
                placeholder: "Селектирај групи",
                allowClear: true
            });

            $("#operationSelect").select2({
                placeholder: "Селектирај операции",
                allowClear: true
            });
        });
    </script>
}
