@model List<Entity.Snippet>

@{
    ViewBag.Title = "Snippets";
    int i = 0;
}

<div class="grid">
    <div class="row">

        <h2 class="span9">Снипети</h2>
        <a class="button large" href="@Url.Action("CreateSnippet","Admin")">Додади нов снипет</a>
    </div>    
    <div class="row">
        <div class="span9">
            <div class="example">
                <form>
                    <fieldset>
                        <legend>Филтер</legend>
                        <label>Групи</label>                    

                        <div class="input-control select" >
                            <select id="groupSelect" multiple style="width:100%;">
                                <option value="1">Value 1</option>
                                <option value="2">Value 2</option>
                                <option value="3">Value 3</option>
                            </select>
                        </div>

                        <input type="submit" value="Submit">
                    </fieldset>
                </form>
            </div>          
        </div>
    </div>
</div>
<hr/>
<div class="listview-outlook">
    @foreach (var item in Model)
    {
        <div class="grid">
            <div class="row">
                <div class="span9">
                    <a href="javascript:void(0)" class="list">
                        <div class="list-content">
                            <span class="list-title">@item.Question</span>
                            <div class="codeEditor" id="editor_@(i++)">

                            </div>
                        </div>
                    </a>
                </div>
                <div class="span3">
                    <a class="button warning" href="@Url.Action("EditSnippet", "Admin", new { id = item.ID})">Измени</a>
                    <a class="button danger" href="@Url.Action("DeleteSnippet", "Admin", new { id = item.ID})" onclick="return confirm('Дали сте сигурни?')">Избриши</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/Scripts/src-noconflict/ace.js"></script>
    <script src="~/Scripts/metro-times.js"></script>

    <script>
        $(function () {

            $("#groupSelect").select2({
                placeholder: "Селектирај нула или една или повеќе групи",
                allowClear: true
            });

            var snippetsData = [];

            $.get('@Url.Action("GetCodes","Admin")', function (data) {
                snippetsData = data;
                snippetsData.reverse();
                console.log(snippetsData);

                var editors = $(".codeEditor");

                editors.each(function (idx) {

                    var editor = ace.edit("editor_" + idx);
                    editor.setTheme("ace/theme/eclipse");
                    editor.getSession().setMode("ace/mode/java");
                    editor.setOptions({
                        readOnly: true,
                        highlightActiveLine: false,
                        highlightGutterLine: false
                    });

                    editor.renderer.$cursorLayer.element.style.opacity = 0;

                    var heightUpdateFunction = function () {

                        // http://stackoverflow.com/questions/11584061/
                        var newHeight =
                                  editor.getSession().getScreenLength()
                                  * editor.renderer.lineHeight
                                  + editor.renderer.scrollBar.getWidth();

                        $('#editor_' + idx).height(newHeight.toString() + "px");
                        $('#editor-section').height(newHeight.toString() + "px");

                        // This call is required for the editor to fix all of
                        // its inner structure for adapting to a change in size
                        editor.resize();
                    };

                    editor.getSession().setValue(decodeURIComponent(snippetsData[idx].Code));
                    heightUpdateFunction();
                    editor.getSession().on('change', heightUpdateFunction);
                });
            });
        });
                
    </script>
}
