@model App.ViewModels.FilterSnippetsViewModel

@{
    ViewBag.Title = "Snippets";
}

<div class="grid">
    <div class="row">
        <h2 class="span9">Снипети</h2>
        <a class="button large" href="@Url.Action("CreateSnippet","Admin")">Додади нов снипет</a>
        <hr />
    </div>

    @using (Ajax.BeginForm("FilterSnippets", new AjaxOptions { HttpMethod = "GET", LoadingElementId = "loader", UpdateTargetId = "snippetContainer", InsertionMode = InsertionMode.Replace, OnSuccess = "InitializeEditors()" }))
    {
        <div class="row">
            <div class="span9">
                <div class="example">
                    <form>
                        <fieldset>
                            <legend>Филтер</legend>
                            <label>Групи</label>

                            <div class="input-control select">
                                <select id="groupSelect" name="SelectedGroups" multiple style="width:100%;">
                                    @foreach (var item in Model.Groups)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                            </div>

                            <label>Операции</label>
                            <div class="input-control select">
                                <select id="operationSelect" name="SelectedOperations" multiple style="width:100%;">
                                    @foreach (var item in Model.Operations)
                                    {
                                        <option value="@item.ID">@item.Name (@item.Operator)</option>
                                    }
                                </select>
                            </div>

                            <input type="text" value="snippets" hidden name="view"/>
                            <input type="submit" value="Филтрирај">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
<hr />

<div class="grid" id="snippetContainer">
    @{Html.RenderPartial("_ListSnippets", new App.ViewModels.ListSnippetsPartialViewModel { Snippets = Model.Snippets, SnippetsButtons = true, SpanSizeSnippets = "span9", SpanSizeArea = "span12" });}
</div>

@section Scripts{
    <script src="~/Scripts/src-noconflict/ace.js"></script>
    <script src="~/Scripts/metro-times.js"></script>
    <script src="~/Scripts/Our Scripts/EditorInitializer.js"></script>
    <script>
        $(function () {

            $("#groupSelect").select2({
                placeholder: "Селектирај групи",
                allowClear: true
            });

            $("#operationSelect").select2({
                placeholder: "Селектирај операции",
                allowClear: true
            });
        });
    </script>
}
